@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', sans-serif; 
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff; 
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 0.6em 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 1.5s ease;
}






@media (prefers-color-scheme: light) {
  :root {
    color: #ffffff;
    /* background-color: #ffffff; */ /* Uncomment this line if you want a light background */
  }
  
  a:hover {
    color: #747bff;
  }
  
  
}
